<div class="container-fluid" id="main-container">
    <!-- Header Row -->
    <div class="row header-row">
        <div class="col-12">
            <h1>JSON Viewer Demo</h1>
        </div>
    </div>

    <div class="row main-row">
        <!-- Input Column -->
        <div class="col-6 control-column">
            <p>
                <label for="input">Enter JSON string here:</label>
            </p>
            <div class="input-panel">
                <textarea id="input" [(ngModel)]="jsonString"></textarea>
            </div>
            <div class="button-panel">
                <button type="button" class="btn btn-primary" (click)="viewJSON()">View</button>
            </div>
        </div>

        <!-- Output Column -->
        <div class="col-6 control-column" id="viewer">
            <p>
                JSON Viewer
            </p>
            <div class="card card-body output-panel">
                <lib-dl-json-viewer [obj]="jsonObj" [tab-space]="4" *ngIf="showOutput"></lib-dl-json-viewer>
            </div>
        </div>
    </div>
</div>